@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansX-Regular;
  src: url(dist/fonts/IRANSansX-Regular.woff) format("woff");
}

body {
  font-family: IRANSansX-Regular;
}

body main {
  max-width: 1280px;
  width: 100%;
  min-height: 80vh;
  background-color: #444;
  position: relative;
  border-radius: 32px;
  margin: 35px;
}
.menuIcon.active,.menuIcon2.active {
  color: #0ba376;
}

header {
  float: left;
  width: 100%;
  max-width: 333px;
  height: 100%;
  max-height: 80vh;
  border-radius: 32px;
  min-height: inherit;
  text-align: center;
  padding: 70px 30px 45px;
  overflow: auto;
  background-color: #444;
}

header.open {
  right: 0 !important;
}

#hamIcon.active>div span:first-child {
  display: none;
}

#hamIcon.active>div span:nth-child(2) {
  transform: rotate(42deg) translateX(2px)translateY(3px);
}

#hamIcon.active>div span:last-child {
  transform: rotate(-44deg) translateX(3px)translateY(-3px);
}

.arrow::before {
  content: '';
  height: 0px;
  width: 0px;
  transform: rotate(90deg);
  top: -5px;
  position: absolute;
  border-right: solid 12px transparent;
  border-left: solid 12px transparent;
  border-bottom: solid 12px #ef4444;
  left: 0;
}

.custom-transition {
  @apply transition-all duration-300
}

.content-area {
  position: absolute;
  right: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  max-width: calc(100% - 333px);
  border-radius: 32px;
}

.animated-section {
  position: absolute;
  background-color: #222;
  height: 0;
  width: 100%;
  border-radius: 32px;
  padding: 0;
  opacity: 0;
}
.animated-section.active {
  height: 100%;
  padding: 40px;
  opacity: 1;
}
.about-heading::before {
  position: absolute;
  top: 10px;
  right: 0;
  content: '';
  height: 30px;
  width: 50px;
  background-image: url('dist/img/before-bg.PNG');
  z-index: -1;
}

.divider::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 4px;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-left: -8px;
  border-radius: 10px;
  background-color: #0ba376;
  opacity: .25;
  z-index: 0;
  right: 2px;
}

.divider::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  margin-left: -4px;
  background-color: #222;
  border-radius: 5px;
  border: 2px solid #0ba376;
  z-index: 1;
  right: 1px;
}

.swiper-button-next {
  right: auto !important;
  left: 21px !important;
  background-color: #333333 !important;
  border-radius: 6px !important;
  width: 24px !important;
  height: 24px !important;
  top: -49px !important;
  z-index: 66;
  transition: all .4s;
}

.swiper-button-prev {
  right: auto !important;
  left: -9px !important;
  background-color: #333333 !important;
  border-radius: 6px !important;
  width: 24px !important;
  height: 24px !important;
  top: -49px !important;
  z-index: 66;
  transition: all .4s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #0ba376 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 13px !important;
  color: #0ba376;
  transition: all .4s;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover:after {
  color: white;
}

#portfolio-filter span.active {
  @apply text-gray-200
}

.placeholder-label.active {
  top: -23px;
  color: #0ba376;
  font-size: 13px;
}

.placeholder-label2.active {
  top: -3px;
  color: #0ba376;
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  body main {
    background-color: transparent;
  }
  header {
    max-height: 100vh;
    border-radius: 0;
  }

  .content-area {
    max-width: 100%;
  }
  .animated-section {
    border-radius: 0;
    inset: 0;
    position: fixed;
    padding: 19px;
  }
}